<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.suncity.dailynotices">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/logo"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:name=".BaseApplication"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
            android:usesCleartextTraffic="true"
            >

        <activity
                android:name=".ui.activity.SplashActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.activity.HomeActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTop"/>

        <activity
                android:name=".ui.activity.LoginActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTop"
                android:windowSoftInputMode="adjustResize|adjustPan"/>

        <activity
                android:name=".ui.activity.UserAgreementActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTop"/>
        <activity
                android:name=".ui.activity.EditPwdActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTop"
                />
        <activity
                android:name=".ui.activity.ShieldingActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTop"/>

        <activity
                android:name=".ui.activity.ContactServiceActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTop"/>

        <activity
                android:name=".ui.activity.AboutAppActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTop"/>
        <!-- 即时通讯模块、推送（均需要加入以下声明） START -->
        <!-- 即时通讯模块、推送都要使用 PushService -->
        <service android:name="com.avos.avoscloud.PushService"/>
        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <!-- 即时通讯模块、推送 END -->


        <meta-data
                android:name="APPLICATION_ID"
                android:value="${applicationId}"/>
        <meta-data
                android:name="ENV_HOST"
                android:value="${ENV_HOST}"/>
        <meta-data
                android:name="ENV_PROTOCOL"
                android:value="${ENV_PROTOCOL}"/>
        <meta-data
                android:name="ENV_AVOS_APP_ID"
                android:value="${ENV_AVOS_APP_ID}"/>
        <meta-data
                android:name="ENV_AVOS_APP_KEY"
                android:value="${ENV_AVOS_APP_KEY}"/>


        <!--适配华为（huawei）刘海屏-->
        <meta-data
                android:name="android.notch_support"
                android:value="true"/>
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
                android:name="notch.config"
                android:value="portrait|landscape"/>
    </application>

</manifest>